body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #000;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

/* HERO SECTION (IMAGE STYLE) */
.hero {
  height: 90vh;
  background: url('https://images.unsplash.com/photo-1554284126-aa88f22d8b74') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top:0; left:0;
  width:100%; height:100%;
  background: rgba(0,0,0,0.6);
}

.hero-content {
  position: relative;
}

.hero h1 {
  font-size: 50px;
  color: #ffffff;
}

.hero p {
  color: #cccccc;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background: #ff2e2e;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

.dark {
  background: #111;
}

/* GRID */
.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* CARDS */
.card, .box {
  background: #1c1c1c;
  padding: 20px;
  width: 180px;
  border-radius: 10px;
}

/* HIGHLIGHT BOX */
.highlight {
  border: 2px solid #ff2e2e;
}

/* FOOTER */
footer {
  background: black;
  padding: 20px;
  text-align: center;
}
